<!-- A template to represent each comment entry
    This template takes in user, comment body and number of likes data from API passed on from parent
-->
<div class="comment-box">
    <span class="username">{{_username}}</span>
    <span class="likes">{{_likes}} Likes</span>
    <p class="comment-body">{{_body}}</p>
</div>