<!-- A template to represent the comment section header
    This template shows a comment icon, total count of comments from API passed on from parent,
    and a capability to sort the comments
-->
<div class="comment-head">
    {{> commentIcon}}
    <span class="comments-count">{{totalCount}} Comments</span>
    <span class="sort">Sort</span>
    <a href="/sort" class="comment-head-button">Likes</a>
</div>