<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" type="text/css" href="static/app.css" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<script src="static/app.bundle.js" defer></script>
		<!--
			TODO:
				1. Add accessibility to the website
				2. Optimize for search engines
		-->
	</head>
	<body>
		{{> header }}
		{{{ body }}}
	</body>
</html>
